body {
  background-color: #ffffcc;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

.singleBox {
  margin-left: 500px;
  margin-right: 100px;
}

.fiveBoxes {
  margin-left: 500px;
  margin-right: 100px;
}

.card {
  width: 100%;
}

.card-body {
  background-color: grey;
  color: white;
  font-weight: bold;
}

.heading {
  background-color: blue;
  color: white;
  margin: 20px 20px;
}

#topBox {
  background-color: #99ccff;
  color: black;
}

.formSection {
  margin-top: 50px;
  margin-left: 50px;
}

#displayName {
  font-size: 25px;
}

/* On screens that are 768px or less*/
@media screen and (max-width: 768px) {
  body {
    flex: 0 0 100%;
    max-width: 100%;
  }
